<h1>Welcome @ViewBag.LoggedInUser.Name</h1>

<h2>Your Products</h2>
<div class="d-flex flex-wrap">
    @{
        foreach(Product p in ViewBag.LoggedInUser.Inventory)
        {
            <div class="card" style="width: 18rem;">
                <img src="@p.Picture" class="card-img-top" alt="@p.ProductName">
                <div class="card-body">
                    <h5> <a href="/Product/@p.ProductId">@p.ProductName</a></h5>
                    <p>$@p.Price</p>
                    @{
                        if(p.Quantity > 0){
                            <p class="card-text">In Stock: @p.Quantity</p>
                        } else {
                            <p class="card-text text-danger">Out Of Stock</p>
                        }
                    }
                    <a href="/Product/Edit/@p.ProductId" class="btn btn-info">Edit</a>
                    <a href="/Product/Delete/@p.ProductId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    }
</div>
<hr>
<h2>Your Orders</h2>
<div class="d-flex flex-wrap">
    @{
        foreach(Order p in ViewBag.LoggedInUser.MyOrders)
        {
            <div class="card" style="width: 18rem;">
                <img src="@p.Product.Picture" class="card-img-top" alt="@p.Product.ProductName">
                <div class="card-body">
                    <h5> <a href="/Product/@p.ProductId">@p.Product.ProductName</a></h5>
                    <p>$@p.Product.Price</p>
                    <p class="card-text">Order Total:$@(p.Product.Price*p.Quantity)</p>
                    <p class="card-text">You Ordered:@p.Quantity</p>
                </div>
            </div>
        }
    }
</div>