<h2 class="text-right">Welcome, <span class="text-primary">@ViewBag.LoggedInUser.Name</span></h2>

<h1 class="text-center">Your Products</h1>
<hr>
<div class="d-flex flex-wrap">
    @{
        foreach(Product p in ViewBag.LoggedInUser.Inventory)
        {
            <div class="card" style="width: 18rem;">
                <img src="@p.Picture" class="card-img-top" alt="@p.ProductName">
                <div class="card-body">
                    <h5> <a href="/Product/@p.ProductId">@p.ProductName</a></h5>
                    <p>$@p.Price</p>
                    @{
                        if(p.Quantity > 0){
                            <p class="card-text">In Stock: @p.Quantity</p>
                        } else {
                            <p class="card-text text-danger">Out Of Stock</p>
                        }
                    }
                    <a href="/Product/Edit/@p.ProductId" class="btn btn-info">Edit</a>
                    <a href="/Product/Delete/@p.ProductId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    }
</div>

